

<h5>Member name: <%= @member.first_name %></h5>
<h5>Member last name: <%= @member.last_name %></h5>
<h5>Member age: <%= @member.age %></h5>
<h5>Member level: <%= @member.level %></h5>
<h5>Member town: <%= @member.town %></h5>
<div class = "button9a">
<a href="/manager/<%= @member.id %>/edit">
    <input type="submit" value="Edit Member"/></a>
</div>

<div class = "button9a">
<form method="post" action="/manager/<%= @member.id %>/delete">
  <input type="submit" value="Delete Member"/>
</form>
</div>
